.pg-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.save-btn {
  background: #f1412e;
  border-radius: 5px;
  font-size: 20px;
  color: #ffffff !important;
  margin-top: 24px;
  padding: 15px 50px;
}
.add-btn {
  background: #ffffff;
  border: 1px solid #009dff;
  border-radius: 5px;
  opacity: 1;
  font-size: 14px;
  color: #009dff !important;
  margin-top: 30px;
  padding: 10px 28px;
}

.form-group {
  .input-content {
    width: 100%;
    .input {
      background: #ffffff;
      border: 1px solid #707070;
      padding: 13px 25px;
      width: 100%;
      height: 48px;
      // opacity: 0.5;
      border-radius: 0px;
    }
  }
}
.form-group {
  .ng-invalid.ng-touched {
    border: 1px solid red !important;
  }
}

.result-text{
  color: #17344f;
  font-size: 30px;
  line-height: 40px;
  margin: auto;
  text-align: center;
}
.message-main {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
  padding: 100px 110px;

  .text {
    color: #17344F;
    font-size: 20px;
    line-height: 40px;
  }
  .email-text {
    font-weight: 600;
  }
}
