@mixin text-style($fontSize, $color, $lineHeight) {
    font-size: $fontSize;
    color: $color;
    line-height: $lineHeight;
    margin-top: 20px;
    word-break: break-all;
}
//general
.teams-content {
    .content-text {
        @include text-style(18px, #17344F, 24px);
        margin-top: 10px !important;
        width: 100%;
        max-width: 500px;
    }
    .title {
        margin-top:0px !important;
        @include text-style(50px, #17344F, 50px);
    }
    .text {
        margin-top: 15px !important;
        @include text-style(15px, #17344F, 30px);
    }
    .title-name {
        @include text-style(20px, #17344F, 27px);
    font-weight: 900;
    }
}