.deleted_conteiner {
    width: 75%;

    .text {
        font-size: 25px;
        color: #17344f;
        padding-bottom: 40px;
    }
}

.icon {
    cursor: pointer;
    width: 40px;
    height: 40px;
}