.successfully_content {
    .text {
        font-size: 25px;
        color: #17344f;
    }
}
.successfully_conteiner{
    width: 75%;
}

.icon {
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.title {
    margin-top: 30px;
    letter-spacing: 0px;
    color: #17344F;
    opacity: 1;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
}