
        <p class="tex-center error text-danger error-message">{{messageError}}</p>
    <div class="main-content d-flex  pg-container justify-content-between f-direction-colum-w-900" >
        <div class="laft-content">
            <p class="title">{{item?.name}}</p>
            <p class="text descr-text">{{item?.descr}}</p>
            <p class="text">{{item?.unit}}: <b>${{item?.price}}</b></p>
            <div class="add d-flex justify-content-between">
                <button class="btn  add-button cursor-pointer d-flex" type="submit"  (click)="changedOrderCount('remove')">
                    <p class="m-auto" >-</p>
                </button>
                <input type="number" min="1" class="input-content m-auto text-center" (ngModelChange)="countChange($event)"  [(ngModel)]="count" [max-count]="0"  app-focus-next-input maxLength="0" d="true">
                <button class="btn  add-button cursor-pointer d-flex" type="submit" (click)="changedOrderCount('add')">
                    <p class="m-auto">+</p>
                </button>
            </div>
        </div>
        <div class="right-content">
            <p class="title">Order cost</p>
            <div class="form-group">
                    <div class="label-wrapper">
                            <label class="label comment">Your Comment</label>
                    </div>
                <textarea name="comment" class="form-control trext-area" rows="3" [(ngModel)]="comment"></textarea>
              </div>
            <p class="text total-price">Total price: <b>${{totalPrice}}</b></p>
            <div class="d-flex justify-content-between align-items-center">
            <button class="btn  save-btn buy-btn cursor-pointer d-flex" type="submit" (click)="addOrder(item.id)">BUY
                <app-loading class="ml-3" *ngIf="loading"></app-loading>
            </button>
            <!-- <img src="assets/icons/Close.svg" class="rounded d-none d-block-w-900 icon" alt="..." > -->
        </div>
        </div>
        <div>
            <!-- <img src="assets/icons/Close.svg" class="rounded d-block d-none-w-900 icon" alt="..." > -->
        </div>
    </div>