<div class="user-addresses-form-group">
    <p class="text">{{title}}</p>
    <form [formGroup]="addressForm">
        <div class="form-group">
            <p class="tex-center error text-danger error-message">{{errorMessage}}</p>
            <div class="form-group-item d-flex align-items-center">
                <div class="label-wrapper">
                    <label class="label">Address</label>
                </div>
                <input type="text" id="name" formControlName="address" class="form-control input" placeholder=""
                    [ngClass]="{'border':checkIsValid('address')}">

            </div>
            <div class="form-group-item d-flex align-items-center">
                <div class="label-wrapper">
                    <label class="label">Zip Code</label>
                </div>
                <input type="text" id="name" formControlName="zip" class="form-control input" placeholder=""
                    [ngClass]="{'border':checkIsValid('zip')}" [OnlyNumber]="true">
            </div>
            <div class="form-group-item d-flex align-items-center">
                <div class="label-wrapper">
                    <label class="label">Billing</label>
                </div>
                <mat-checkbox formControlName="billing"></mat-checkbox>

            </div>
            <div class="form-group-item d-flex align-items-center">
                <div class="label-wrapper">
                    <label class="label">Main</label>
                </div>
                <mat-checkbox formControlName="main"></mat-checkbox>

            </div>
            <div class="form-group-item d-flex align-items-center">
                <div class="label-wrapper">
                    <label for="Country" class="label">Country</label>
                </div>
                <ng-autocomplete class="input-content  ng-autocomplete" [data]="countryData" [searchKeyword]="keyword"
                    (selected)='selectEvent($event)' (inputChanged)='onChangeSearch($event)'
                    [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate" formControlName="country">
                </ng-autocomplete>

                <ng-template #itemTemplate let-item>
                    <a [innerHTML]="item.name"></a>
                </ng-template>

                <ng-template #notFoundTemplate let-notFound>
                    <div [innerHTML]="notFound"></div>
                </ng-template>
            </div>
        </div>
        <div class="d-flex">
            <button class="btn save-btn cursor-pointer d-flex align-items-center" type="submit" [disabled]="addressForm.invalid"
                (click)="onClick()">Save <app-loading class="ml-3" *ngIf="loading"></app-loading></button>
            <button class="btn save-btn cursor-pointer ml-5 d-flex align-items-center" type="submit" *ngIf="isEdit"
                (click)="onClickDelete()">Cancel</button>
        </div>
    </form>

</div>