<footer>
    <div class="footer-content">
        <div class="footer-container pg-container">
            <div class="footer-top-content">
                <!-- <div class="footer-top-content-wrapper  d-flex justify-content-between f-direction-colum-w-1100">
                    <div>
                        <p class="text">Узнавайте о спецпредложениях первыми!</p>
                        <p class="title">Подписывайтесь! </p>
                    </div>
                    <div class="form-content d-flex footer-form-content">
                        <input type="text" class="form-input" value="">
                        <button class="btn  cursor-pointer sign-btn" type="submit">Подписаться </button>
                    </div>
                </div> -->
            </div>
            <div class="footer-min-content">
                <div class="footer-main-container d-flex justify-content-between f-direction-colum-w-900">
                    <div>
                        <p class="text">
                            <a class="link" href="/home">HOME</a>
                            <a class="link" href="/support/terms">TERMS</a>
                            <a class="link" href="/support/contact">CONTAC US </a>
                        </p>
                        <p class="text">+1(385) 528-9265</p>
                    </div>
                    <!-- <div class="card-item d-flex">
                        <img src="assets/images/visa.jpg" class="rounded d-block item" alt="...">
                        <img src="assets/images/master.jpg" class="rounded d-block item ml-2" alt="...">
                        <img src="assets/images/american-express.png" class="rounded d-block item ml-2" alt="...">
                        <img src="assets/images/disc-over.png" class="rounded d-block item ml-2" alt="...">
                        <img src="assets/images/pay.png" class="rounded d-block item ml-2" alt="...">
                    </div> -->
                </div>
                <div class="footer-text-content d-flex justify-content-between f-direction-colum-w-900">
                    <p class="text"><a href="mailto:maxim.n.rachkov@gmail.com">maxim.n.rachkov@gmail.com</a></p>
                    <p class="text">Copyright &copy; 2020 American Raw Honey LLC</p>
                </div>
            </div>
        </div>
    </div>
</footer>