.sent-content {
    .text {
        font-size: 50px;
        line-height: 60px;
        color: #17344F;
    }

    .image {
        width: 110px;
    }

    .title {
        margin-top: 35px;
        letter-spacing: 0px;
        color: #17344F;
        opacity: 1;
        font-size: 20px;
        line-height: 27px;
    }
}