.form-group-content {

  
    .form-group {
      margin-bottom: 20px;
  
      .label {
        color: #17344f;
        font-size: 14px;
        line-height: 19px;
        width: 180px;
        margin-bottom: 20px;
      }
  
      .textarea {
        height: 117px !important;
      }
    }
  }
  
  .save-btn {

  }
  
  .ng-autocomplete {
    border: 1px solid #B4B4B4;
  }
  
  .text-danger {
    margin-left: 140px;
    margin-bottom: 20px;
   
  }
  .text-area{
    max-height: 140px;
    min-height: 140px;
  }