<div class="address-list-item">
    <!-- <P class="label">{{item?.address}}</P> -->
    <div class="address-list-item-content d-flex justify-content-between align-items-center">
        <div class="address-list-item-details">
            <p class="text">Address: {{item?.address}}
            </p>
            <p class="text">Country: {{item?.country}}
            </p>
            <p class="text">Zip Code: {{item?.zip}}
            </p>
            <div class="d-flex align-items-center">
                <p class="text">Main:</p>
                <mat-checkbox [checked]="item?.main" disabled class="ml-2"></mat-checkbox>
        </div>
        <div class="d-flex align-items-center">
                <p class="text">Billing:</p>
                <mat-checkbox [checked]="item?.billing" disabled ></mat-checkbox>
        </div>
        </div>
        <button class="btn  cursor-pointer edit-btn" type="submit" [routerLink]="id">Edit</button>
    </div>
</div>