.header {
  .header-container {
    background: #ffffff;
    box-shadow: 0px 3px 6px #00000029;
    .header-content {
      .text {
        color: #17344f;
      }
      .header-left-side {
        width: 230px;
        padding-left: 20px;
        .logo {
          max-width: 55px;
          max-height: 55px;
          margin-right: 20px;
          cursor: pointer;
        }
        .logo-text {
          font-weight: 400;
          font-size: 27px;
        }
      }
      .header-right-side {
        .personal-area {
          margin-right: 125px;
          .icon {
            max-width: 36px;
            max-height: 36px;
            margin-right: 30px;
          }
          .user-name {
            font-size: 25px;
            font-weight: 300;
          }
        }
        .card-wrapper {
          padding: 0 10px;
          cursor: pointer;
        }
        .icon-wrapper {
          padding: 35px 40px;
          transition: background-color 0.5s;

          .menu-icon {
            width: 36px;
            height: 36px;
            position: relative;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: 0.5s ease-in-out;
            -moz-transition: 0.5s ease-in-out;
            -o-transition: 0.5s ease-in-out;
            transition: 0.5s ease-in-out;
            cursor: pointer;
          }

          .menu-icon span {
            display: block;
            position: absolute;
            height: 4px;
            width: 100%;
            background: #17344f;
            border-radius: 9px;
            opacity: 1;
            left: 0;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: 0.25s ease-in-out;
            -moz-transition: 0.25s ease-in-out;
            -o-transition: 0.25s ease-in-out;
            transition: 0.25s ease-in-out;
          }

          .menu-icon span:nth-child(1) {
            top: 0px;
          }

          .menu-icon span:nth-child(2) {
            top: 14px;
          }

          .menu-icon span:nth-child(3) {
            top: 28px;
          }

          .menu-icon.open span:nth-child(1) {
            top: 18px;
            -webkit-transform: rotate(135deg);
            -moz-transform: rotate(135deg);
            -o-transform: rotate(135deg);
            transform: rotate(135deg);
          }

          .menu-icon.open span:nth-child(2) {
            opacity: 0;
            left: -60px;
          }

          .menu-icon.open span:nth-child(3) {
            top: 18px;
            -webkit-transform: rotate(-135deg);
            -moz-transform: rotate(-135deg);
            -o-transform: rotate(-135deg);
            transform: rotate(-135deg);
          }
        }
        .active {
          background: #ffcf00;
        }
      }
    }
  }
  .main-nav-menu {
    background: #ffcf00 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    padding: 50px 20px;
    position: absolute;
    top: 105px;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 99;
    .main-nav-menu-content {
      .coupon-card {
        background: #ffffff 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 6px #00000029;
        opacity: 1;
        padding: 50px 60px;

        .card-description {

          .title,
          .coupon-input {
            color: #17344f;
            font-size: 25px;
            line-height: 40px;
            word-break: break-all;
          }
          .coupon-input {
            border: none;
            background: white;
            max-width: 260px;
          }
          .text {
            word-break: break-all;
            color: #17344f;
            font-size: 18px;
            line-height: 24px;
            margin-top: 15px;
          }
          .coupon-value {
            margin-top: 40px;
            .copy-btn {
              background: #fafafa 0% 0% no-repeat padding-box;
              border: 1px solid #8695a5;
              border-radius: 5px;
              opacity: 0.3;
              padding: 10px 17px;
              color: #8695a5;
              font-size: 14px;
            }
          }
        }
      }
      .main-nav-menu-items {
        width: 100%;
        max-width: 200px;
        margin-left: 300px;
        .items {
          word-break: break-all;
          color: #17344f;
          font-size: 18px;
          line-height: 24px;
          text-decoration: underline;
          padding: 8px 18px;
          cursor: pointer;
          transition: 0.5s all ease-out;
          border-radius: 5px;
        }
        .activeTab {
          background: #ffe883 0% 0% no-repeat padding-box;
          border-radius: 5px;
          opacity: 1;
          text-decoration: none !important;
        }
      }
    }
  }
}