<header class="header">
    <div class="header-container position-relative">
        <div class="header-content pg-container d-flex align-items-center text-center justify-content-between">
            <div class="header-left-side d-flex align-items-center text-center">
                <img src="assets/images/logo.png" class="rounded d-block logo" alt="..." routerLink="/purchase/request">
                <p class="text logo-text text-left">American raw honey</p>
            </div>
            <div class="header-right-side d-flex justify-content-between">
                <div class="personal-area d-flex align-items-center d-none-w-900">
                    <img src="assets/icons/user.svg" class="rounded d-block icon" alt="...">
                    <p class="text user-name">Janna Mryan</p>
                </div>
                <div class="nav-items d-flex align-items-center ">
                    <div class="card-wrapper d-block" routerLink="/profile/inventory">
                        <img src="assets/icons/cart.svg" class="rounded d-block icon card-icon" alt="...">
                    </div>
                    <div class="icon-wrapper" [class.active]="menuOpened">
                        <div class="menu-icon" [class.open]='menuOpened' (click)="onClickOpenMenu()">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-nav-menu" *ngIf="menuOpened">
            <form [formGroup]="promoCodeGroup">
                <div class="main-nav-menu-content pg-container d-flex">
                    <div class="coupon-card">
                        <div class="card-description m-auto">
                            <p class="title">Your coupon</p>
                            <p class="text">25% off entire purchase at<br> https://rawhoneyfromutah.com/</p>
                            <div class="coupon-value d-flex justify-content-between">
                                <input type="text" class="coupon-input" formControlName="promoCode" #userinput disabled>
                                <button class="btn copy-btn cursor-pointer d-flex align-items-center" type="submit"
                                    (click)="copyInputMessage(userinput)">
                                    <p>copy </p>
                                    <i class="material-icons ml-2">
                                        file_copy
                                    </i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="main-nav-menu-items d-flex flex-column">
                        <a class="items" (click)="router('/profile/user-account')"
                            [routerLinkActive]="'activeTab'">Profile</a>
                        <a class="items" (click)="router('/profile/user-addresses')"
                            [routerLinkActive]="'activeTab'">Addresses</a>
                        <a class="items" (click)="router('/profile/payment-details')"
                            [routerLinkActive]="'activeTab'">Payment
                            details</a>
                        <a class="items" (click)="router('/profile/inventory')"
                            [routerLinkActive]="'activeTab'">Inventory</a>
                        <a class="items" (click)="router('/profile/payments')"
                            [routerLinkActive]="'activeTab'">Payments</a>
                        <a class="items" (click)="router('/support')" [routerLinkActive]="'activeTab'">Support</a>
                        <a class="items" [routerLinkActive]="'activeTab'" (click)="onclickSignOff()">Log Out</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</header>