.login-form-content {
  .login-form-header {
    background: #f2f3f5;
    padding: 40px 0;
    .login-form-header-container {
      margin: 0 auto;
      width: 100%;
      max-width: 500px;
      .text {
        color: #17344f;
        font-size: 30px;
        margin-left: 100px;
      }
    }
   
  }
  .login-form {
    width: 100%;
    margin: 0 auto;
    padding: 50px 20px;
    max-width: 500px;
    .form-group {
      margin-top: 20px;
      width: 100%;
      .input {
        width: calc(100% - 100px);
      }
      .label-wrapper {
        width: 100px;
        .label {
          color: #17344f;
          font-size: 21px;
        }
      }
    }
    .save-btn {
      margin-left: 100px;
    }
  }
}

.title{
  margin: 10px 100px 0;
  color: #17344f;
  font-size: 15px;
  font-weight: 600;
} 
.title-danger{
cursor: pointer;
color: #f1412e;
text-decoration: underline;
}
